{%extends 'base.html'%}
{%block head%}
<title>Home</title>
    <style>
    input[type=text], select {
        width: 85%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    button[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #45a049;
}
    </style>
{%endblock%}

{%block body%}
<br>
<div align='center'>
  <form action="{% url 'MovieReviewApp:graph' %}" method="POST">
    {%csrf_token%}
      <label for="moviename" style="font-size:20px">Movie Name:</label><br>
    <input type="text" name='search_movie' id="search_movie">
      <button type="submit">Search</button>
  </form>
<br>
</div>
{%if data == ''%}
{%else%}
<div style="width: 60%" align='center'>
  <canvas id="myChart" width=60% height=50%></canvas>
  <script>
    var sentiment = parseFloat("{{data}}")
    var ctx = document.getElementById("myChart");

    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["Sentiment Rating from TMDB API", "Sentiment Rating from Web Scraper", "Actual Rating", "Proposed Rating"],
        datasets: [{
          label: 'Sentiment Values VS Source for Reviews',
          data: [8.5, sentiment, 6.2, 6.8, 2],

          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)'

          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)'

          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }

      }
    });
  </script>
</div>
{%endif%}
{%endblock%}