{%extends 'base.html'%}
{%block head%}
<title>Graph</title>
<style>
  p {
    color: white;
    font-size: 25px;
  }

  #review {
    border: 1px solid yellow;
  }

  h1 {
    color: yellow
  }
</style>
{%endblock%}

{%block body%}
<div class="container" style="text-align:center;">
  <h1>
    REVIEWS
  </h1>
</div>
<!-- <div class="container"> -->
{% for i in mylist  %}
<div class="card text-center" id="review">
  <div class="card-header" style="background-color:yellow; ">
    <br><br>
  </div>
  <div class="card-body">
    <p class="card-text">{{i}}</p>
  </div>
  <div class="card-footer text-muted" style="background-color:yellow;">
    <br><br>
  </div>
</div>
<br><br>
{%  endfor %}
<!-- </div> -->
{%endblock%}